In [9]:
load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql mysql+pymysql://root:datahub97@localhost:3307/road_safety

'Connected: root@road_safety'

In [ ]:
%%sql
# calculate  total current year casualty
SELECT 
    SUM(number_of_casualties) AS cy_casualties
FROM road_accident;

In [ ]:
%%sql
# calculate current year casualty
SELECT 
    SUM(number_of_casualties) AS cy_casualties
FROM road_accident
WHERE YEAR(accident_date) = '2022';

In [ ]:
%%sql
# calculate current year accidents
SELECT 
    COUNT(DISTINCT accident_index) AS CY_accident
FROM road_accident
WHERE YEAR(accident_date) = 2022

In [6]:
%%sql
# casualties of accidents on dry road surface
SELECT 
    SUM(number_of_casualties) AS cy_casualties 
FROM road_accident
WHERE YEAR(accident_date) = '2022' AND road_surface_conditions = 'Dry'

 * mysql+pymysql://root:***@localhost:3307/road_safety
1 rows affected.

[(None,)]

In [ ]:
%%sql
# calculate current year fatal casualties
SELECT 
    SUM(number_casualties) AS CY_fatal_casualties
FROM road_accident
WHERE accident_severity = 'Fatal' AND YEAR(accident_date) = '2022'

In [8]:
%%sql
# casualties of fatalies accidents
SELECT 
    SUM(number_casualties) AS CY_fatal_casualties
FROM road_accident
WHERE YEAR(accident_date) = '2022' AND accident_severity =  'Fatal'

 * mysql+pymysql://root:***@localhost:3307/road_safety
(pymysql.err.OperationalError) (1054, "Unknown column 'number_casualties' in 'field list'")
[SQL: # casualties of fatalies accidents
SELECT
    SUM(number_casualties) AS CY_fatal_casualties
FROM road_accident
WHERE YEAR(accident_date) = '2022' AND accident_severity =  'Fatal']
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
# casualty year of serios casualties
SELECT 
    SUM(number_casualties) AS CY_serious_casualties
FROM road_accident
WHERE YEAR(accident_date) = '2022' AND accident_severity =  'Serious'

In [ ]:
%%sql
# casualty year of slight casualties
SELECT 
    SUM(number_casualties) AS CY_slight_casualties
FROM road_accident
WHERE accident_severity =  'slight'

In [ ]:
%%sql
# casualties by vehicle type
SELECT 
    CASE
        WHEN vehicle_type IN ('Agricultura vehicle') 
        THEN 'Agricultural'
        WHEN vehicle_type IN ('Car', 'Taxi/ Private hire car') 
        THEN 'Cars'
        WHEN vehicle_type IN ('Motorcycle 125cc and under', 'Motorcycle 50cc and under', 
                              'Motorcycle over 125cc and over 500cc', 'Motorcycle over 500cc', 'Pedal cycle') 
        THEN 'Bike'
        WHEN vehicle_type IN ('Bus or coach(17 or more pass seats)', 'Minibus or coach(8 - 16 passenger seats)', ) 
        THEN 'Bus'
        WHEN vehicle_type IN ('Goods 7.5 tonnes mgw and over', 'Goods 3.5t and under 7.5t', 
                              'Motorcycle over 125cc and over 500cc', 'Van / Goods 3.5 tonnes mgw or under', 'Pedal cycle') 
        THEN 'Van'
        ELSE 'Other'
    END AS vehicle_group,
    SUM(number_of_casualties) AS CY_casualties
FROM road_accident
WHERE YEAR(accident_date) = '2022'
GROUP BY 
    CASE 
        WHEN vehicle_type IN ('Agricultural vehicle') 
            THEN 'Agricultural'
        WHEN vehicle_type IN ('Car', 'Taxi/ Private hire car') 
            THEN 'Cars'
        WHEN vehicle_type IN ('Motorcycle 125cc and under', 'Motorcycle 50cc and under', 
                              'Motorcycle over 125cc and over 500cc', 'Motorcycle over 500cc', 'Pedal cycle') 
            THEN 'Bike'
        WHEN vehicle_type IN ('Bus or coach(17 or more pass seats)', 'Minibus or coach(8 - 16 passenger seats)', ) 
            THEN 'Bus'
        WHEN vehicle_type IN ('Goods 7.5 tonnes mgw and over', 'Goods 3.5t and under 7.5t', 
                              'Motorcycle over 125cc and over 500cc', 'Van / Goods 3.5 tonnes mgw or under', 'Pedal cycle')
             THEN 'Van'
            ELSE 'Other'
END

In [ ]:
%%sql
# casualty month trend
SELECT DATENAME(MONTH, accident_date) AS month_name,
    SUM(number_of_casualties) 'CY casualties'
FROM road_accident
WHERE YEAR(accident_date) = '2022'
GROUP BY DATENAME(MONTH, accident_date)

In [ ]:
%%sql
# CASALTIES BY ROAD TY
SELECT road_type, 
    SUM(number_of_casualties) AS CY_casualties
FROM road_accident
WHERE YEAR(accident_date) = '2022'
GROUP BY road_type

In [ ]:
%%sql
# Casualties percentage by urban/rural area
SELECT urban_or_rural_area, 
    CAST(SUM(number_of_casualties) AS DECIMAL (10,2))* 100 /
    (SELECT  CAST(SUM(number_of_casualties)AS DECIMAL (10,2))
        FROM road_accident
        WHERE YEAR(accident_date) = '2022') AS percentage_total
FROM road_accident
WHERE YEAR(accident_date) = '2022'
GROUP BY urban_or_rural_area

In [ ]:
%%sql
# Casualties by light condition
SELECT 
    CASE 
        WHEN light_condition IN ('Daylight') 
            THEN 'Day'
        WHEN light_condition IN ('Darkness - lighting unknown', 'Darkness - lights lit', 
                                  'Darkness - lights unlit', 'Darkness - no lighting') 
            THEN 'Night'
        END AS Light_Condition,
        CAST(CAST(SUM(number_of_casualties) AS DECIMAL (10,2) * 100 /
                 (SELECT  CAST(SUM(number_of_casualties)AS DECIMAL (10,2)
                               FROM road_accident
                               WHERE YEAR(accident_date) = '2022') AS CY_casualty_percentage_total ))
FROM road_accident
WHERE YEAR(accident_date) = '2022'
GROUP BY
             CASE 
        WHEN light_condition IN ('Daylight') 
            THEN 'Day'
        WHEN light_condition IN ('Darkness - lighting unknown', 'Darkness - lights lit', 
                                  'Darkness - lights unlit', 'Darkness - no lighting') 
            THEN 'Night'
        END

In [ ]:
%%sql
# Casualties by top 10 locations
SELECT TOP 10 local_authority, 
    SUM(number_of_casualties) AS Total_casualties
FROM road_accident
GROUP BY urban_or_rural_area
ORDER BY Total_casualties DESC